---
import { Image } from "astro:assets";
import Dre from "../../assets/officerImgs/DeAndre_photo.jpg";
import Tai from "../../assets/officerImgs/TaisPhoto.png";
import Noah from "../../assets/officerImgs/noah.jpg";
import Tylah from "../../assets/officerImgs/tylah.jpeg"
import Grace from "../../assets/officerImgs/grace.jpg"
import Jason from "../../assets/officerImgs/jason.jpg"
import Ekow from "../../assets/officerImgs/ekow.jpeg"
import Ahman from "../../assets/officerImgs/ahman.jpeg"
import Doug from "../../assets/officerImgs/dougiefresh.jpeg"
import PlaceHolder from "../../assets/officerImgs/placeholder.jpeg"
---

<div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="tracking-tight text-2xl md:text-4xl lg:text-6xl">
            Meet The Elite Executive Board
        </h2>
    </div>
    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-4">
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Tai}
                    alt="Tai"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Tai-Renée King
                    </p>
                    <p class="mb-4 text-xs text-gray-100">President</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Natural Resources with Minor in Humanitarian Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        I love roller skating, video games, and learning new
                        things.
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Dre}
                    alt="Deandre Walcott"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        DeAndre Walcott
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Vice President</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Mechanical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Although my favorite sport is basketball, I was on the
                        Varsity Swim Team in High School!
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/deandre-triston-walcott/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={Grace}
                alt="Grace Okoye"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Grace Okoye
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Treasurer</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Chemical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/c-grace-okoye-b1a726255/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Tylah}
                    alt="Tylah"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Tylah Ellison
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Finance Chair</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Mechanical Engineering, Option in Product Design and
                        Manufacturing
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        I like to do photography and videography.
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/tylah-ellison-81a046253/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Noah}
                    alt="Noah"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Mainoah Zander Muna
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Secretary</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Computer Science, Option in Data Science
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/mainoahmuna/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={PlaceHolder}
                alt="Avari Alcaire"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Avari Alcaire
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Executive Chair</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Biochemistry & Molecular Biology
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/avari-alcaire-94850a266/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={PlaceHolder}
                alt="Niema Hussien"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Niema Hussien
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Public Relations</p>
                    <p class="mb-4 text-xs text-gray-100"></p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/niema-hussein-993ab5250/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={Jason}
                alt="Jason Williams"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Jason Williams
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Public Relations</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Mechanical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/jason-williams-15b142297/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={Ahman}
                alt="Ahman Raines"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Ahman Raines
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Senator</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Computer Science, Option in Cybersecurity
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/ahman-raines-88b915298/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={Ekow}
                alt="Ekow Atiemo-Addo"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Ekow Atiemo-Addo
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Senator</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Electrical & Mechanical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/ekow-atiemo-addo-5323432b6/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
            <Image
                src={Doug}
                alt="Douglas Crocker"
                class="object-cover w-full h-56 md:h-64 xl:h-80"
            />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Douglas Crocker
                    </p>
                    <p class="mb-4 text-xs text-gray-100">
                        Region 6 Assistant Treasurer
                    </p>
                    <p class="mb-4 text-xs text-gray-100">
                        Electrical & Computer Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                        <a href="https://www.linkedin.com/in/douglas-crocker-jr/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                <path d="M41,8H7C6.447,8,6,8.448,6,9v32c0,1.654,1.346,3,3,3h30c1.654,0,3-1.346,3-3V9C42,8.448,41.553,8,41,8z"></path><path fill="#fff" d="M39,41H9c-1.105,0-2-0.895-2-2V7h34v32C41,40.105,40.105,41,39,41z"></path><path d="M39,42H9c-1.654,0-3-1.346-3-3V7c0-0.553,0.447-1,1-1h34c0.553,0,1,0.447,1,1v32C42,40.654,40.654,42,39,42z M8,8v31	c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V8H8z"></path><rect width="5" height="17" x="12" y="19"></rect><path d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12c1.521,0,2.458,1.08,2.486,2.499 C17,15.887,16.035,17,14.485,17z"></path><path d="M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19 h5v2.616C25.721,20.5,26.85,19,29.738,19c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
